body {
    margin: 0%;
    padding: 0%;
    height: 100%;
    background-color: cornflowerblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

.container {
  padding: 25px;
  margin-top: 30px;
  height: 100vh;
}

.header {
    padding-bottom: 40px;
    height: 40%;
}

.select-option {
    margin-bottom: 18px;
}

.create-selected-option {
    margin-bottom: 18px;
}

.select-frame {
    padding: 5px;
    margin-left: 10px;
}

.last-visit {
  background-color: #343a40;
  position: sticky;
  bottom: 0%;
  font-size: 14px;
  padding: 5px 5px;

}

.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav > ul {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
  width: 100%;
  background-color: #343a40;
  top: 0%;
  position: fixed;
  overflow: hidden;
  }

.nav > ul > li {
  float: left;
}

.nav > ul > li > a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.nav > ul > li > a:hover {
  background-color: black;
}